/* Default state */
.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 1s;
    cursor: pointer;
    overflow: hidden;
    background: white;
    position: relative;
}

/* Expanded item */
.food-item.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 90vh;
    height: auto;
    overflow: auto;
    z-index: 100;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
}

@media (max-width:500px) {
    .food-item.expanded{
        width: 80%;
        top: 40%;
    }
}


/* Image */
.food-item-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 15px 15px 0px 0px;
}

/* Info */
.food-item-info {
    padding: 10px;
}

/* Name & Rating */
.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

/* Description - hidden by default */
.food-item-desc {
    color: #676767;
    font-size: 12px;
    max-height: 40px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Expanded description */
.food-item.expanded .food-item-desc {
    max-height: none;
    white-space: normal;
    overflow: visible;
    font-size: 14px;
}

/* Price */
.food-item-price {
    color: #00CED1;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

/* Image container */
.food-item-img-container {
    position: relative;
}

/* Add button */
.food-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

/* Counter */
.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img {
    width: 30px;
}

.food-item-learn-more {
    font-size: 14px;
    margin: 10px;
    text-align: left;
}

.food-item-new {
    position: absolute; /* Position absolutely relative to the nearest positioned ancestor */
    top: 10px;          /* Distance from the top edge of the image container */
    left: 10px;         /* Distance from the left edge of the image container */
    background-color: #EC3131; /* Red background */
    color: white;       /* White text */
    font-weight: bold;
    font-size: 12px;    /* Adjust size */
    padding: 4px 8px;   /* Add some padding */
    border-radius: 4px; /* Optional: slightly rounded corners */
    z-index: 1;
}