.footer {
    color: black;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
img {
    align-self: flex-start;
}

.footer-copyright{
    align-self: flex-end;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}

.footer-content-left , .footer-content-right , .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}

.footer-content-left h2, .footer-content-right h2, .footer-content-center h2 {
    align-self: self-center;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-right h2, .footer-content-center h2 {
    color: rgba(82, 75, 75, 0.92);
}


.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

@media (max-width: 750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-copyright {
        text-align: end;
    }
}